@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif; /* Use Poppins as the default font */
}


.custom-input {
  padding: 0.75rem 1rem; /* Equivalent to px-4 py-3 */
  border-radius: 0.75rem; /* Equivalent to rounded-xl */
  border: 1px solid #D1D5DB; /* Equivalent to border-gray-300 */
  outline: none; /* Equivalent to focus:outline-none */
  transition: border-color 0.2s, box-shadow 0.2s; /* Optional: for smooth transition */
}

.custom-input:focus {
  border-color: transparent; /* Equivalent to focus:border-transparent */
  box-shadow: 0 0 0 2px rgba(19, 26, 69, 0.5); /* Simulating the focus ring */
}